@page "/dailyquestions"
@inject SYO_App.Data.IDataService DataService

<h3>Questions for the Mood Tracker</h3>

@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var question in questions.Select((q, index) => new { q, index }))
        {
            <li>@(question.index + 1). @question.q.QuestionText</li>
        }
    </ul>

    <ul>
        @foreach (var question in top2questions.Select((q, index) => new { q, index }))
        {
            <li>@(question.index + 15). @question.q.QuestionText</li>
        }
    </ul>

}

@code {
    private List<SYO_App.Models.Question> questions;
    private List<SYO_App.Models.Question> top2questions;
    private List<SYO_App.Models.QuestionsDaily> getQuestionsDaily;


    protected override async Task OnInitializedAsync()
    {
        // Asynchronously fetch questions from the database
        questions = await DataService.GetQuestionsAsync();

        top2questions = await DataService.GetTop2QuestionsAsync();

        getQuestionsDaily = await DataService.GetQuestionsDailyAsync();
    }


}
